@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
	margin: 0;
	padding: 0;
	color: #222;
	background: #fff;
}
body {
	padding: 10px;
	font: 76%/150% "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, 
	Geneva, Arial, Helvetica, sans-serif;
}


ul {

}

#nav {
	margin: 0px;
	padding: 0px;
	background: #808259 url(img/nav_bg.jpg) 0 0 repeat-x;
	float: left;
	width: 100%;
	border: 1px solid #42432d;
	border-width: 1px 0;
}

#nav a:link,
#nav a:visited {
	color: #000;
	background: #b2b580;
	padding: 20px 40px 4px 10px;
	float: left;
	width: auto;
	border-right: 1px solid #42432d;
	text-decoration: none;
	font: bold 1em/1em Arial, Helvetica, sans-serif;
	test-transform: uppercase;
	text-shadow: 2px 2px 2px #555;
}

#nav a:hover,
#nav a:focus {
	color: #fff;
	background: #727454;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	font-family: "Verdana", Verdana, sans-serif;
}

#nav li:first-child a {
	border-left:1px solid #42432d;
}

#home #nav-home a,
#ingredients #nav-ingredients a,
#recipes #nav-recipes a,
#lab #nav-lab a,
#reviews #nav-reviews a,
#contact #nav-contact a {
	background:#e35a00;
	color:#fff;
	text-shadow:none;
}

#home #nav-home a:hover,
#ingredients #nav-ingredients a:hover,
#recipes #nav-recipes a:hover,
#lab #nav-lab a:hover,
#reviews #nav-reviews a:hover,
#contact #nav-contact a:hover {
	background:#e35a00;
}
#nav a:active {
	background:#e35a00;
	color:#fff;
}

#footer {
	background: #fff;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

#footer p {
	border-top: 1px solid #42432d;
	background: #fff;
	<!-- position: fixed; -->
	bottom: 0;
	text-align: center;
	margin: 0 10px 5px 10px;
}

#loginBox {
	/* background: #808259; */
	background: #b2b580;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	padding: 5px;
	width: 300px;
	height: 300px;
	font-family: 'Open Sans', sans-serif;
}

#loginBox h2 {
	color: #000;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	letter-spacing: 1px;
	text-align: center;
}


#loginBox input {
	margin: 0;
	padding 0;
	width: 278px;
	display: block;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0px 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}


#loginBox input:focus {
	box-shadow: inset 0 -5px 45px rgba(0,0,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from (#ffffff), to (#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #e6e6e6;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border: 1px solid #e6e6e6;
	width: 100%;
	display: block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	
	
}